*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: montserrat;
}

nav{
    background: #0F4C75;
    height: 8.5vh;
    width: 100%;
}

.logo{
    display: inline-block;
    color: #cfecff;
    font-size: 4vh;
    padding: 2vh 2vh;
    font-weight: bold;
}


/*Sections*/
h1{
    text-align: center;
    margin-bottom: 1.875em;
    font-size: 3.125em;
    color:#0F4C75;
}

nav ul{
    float: right;
    margin-right: 1.25em
}

nav ul li{
    display: inline-block;
    line-height: 8vh;
    margin: 0 0.313em;
}

nav ul li a{
    color: #cfecff;
    font-size: 1.8em;
    font-weight: bold;
    padding: 0.438em 0.813em;
    border-radius: 0.938em;
    text-transform: uppercase;
}


/*Hover*/
a:hover{
    background: #cfecff;
    color: #3282B8;
    transition: .5s;
}


/*Go top button*/
.to-top{
    position: fixed;
    bottom: 0.5em;
    right: 0.5em;
    width: 2em;
    height: 2em;
    font-size: 2.5em;
    border-radius: 50%;
    background: #0F4C75;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #cfecff;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 0.625em 0.125em;
}

.to-top:hover{
    background:#cfecff;
    color:#0F4C75;
    -webkit-transition:all .2s ease;
    -moz-transition:all .2s ease;
    -o-transition:all .2s ease;
}

.icon-rocket-1{
    transform: rotate(-45deg)
}


/*Presentation*/
#presentation{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}


/*Image*/
.hero{
    background-image: url("coding-g2973e2192_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 92vh;
}

div.hero div.item{
    float: left;
    width: 50%;
    height: 100%;
}

#avatar{
    margin: auto auto 1.25em auto;
    width: 60%;
    height: auto;  
}


/*Botton*/
#download_cv{
    align-items: center;
    justify-content: center;
    width: auto;
    margin: 0 auto auto auto;
    font-size: 2.5em;
    background-color:#0F4C75;
    color: #cfecff;
    font-weight: bold;
    border-radius: 0.938em;
    border-style: none;
    box-shadow: rgb(0 0 0 / 5%) 0 0 0.5em;
    letter-spacing: 0.094em;
    text-transform: uppercase;
    transition: all .5s ease;
    padding: 0.3em;
}

#download_cv:hover {
 letter-spacing: 0.188em;
 background-color: #cfecff;
 color: #3282B8;
 box-shadow: rgb(192, 229, 255) 0 0.438em 1.813em 0;
}


/*Text*/
#description{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

#description h3{
    text-align: center;
    font-size: 4em;
    margin: 0.625em 0.625em;
    color: #cfecff;
}


/*Portfolio*/
div.portfolio{
    height: 67vh;
    width: 100%;
    margin-top: 3.75em;
}

.portfolio h1{
    margin: 0;
    font-size: 4.5em;
    margin-bottom: 40px;
}

.projects{
    height: auto;
    margin: 0 100px;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 60vh;
}

.portfolio-card {
    width: 100vh;
    height: 50vh;
    border-radius: 1em;
    padding: 1.5rem;
    margin: 10px;
    background: #ffffff;
    position: relative;
    display: flex;
    transition: 0.4s ease-out;
    box-shadow: 0 0.438em 1.25em rgba(0, 0, 0, 0.5);
    transition-delay: .15s;
}

.portfolio-card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
    border-radius: 1em;
    transition-delay: .15s;
}

.portfolio-card .card-info {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    position: relative;
    width: 100%;
    z-index: 3;
    color: #f5f5f5;
    opacity: 0;
    transform: translateY(20%);
    transition: 0.5s;
    transition-delay: .15s;
}

.portfolio-card .card-info p{
    text-align: center;
}


/*Text*/
.portfolio-card .text-title {
    font-size: 2rem;
    font-weight: 500;
}
       
.portfolio-card .text-body {
    letter-spacing: 0.063em;
    font-size: 1.2rem;
    margin: 0.313em 0 0.938em 0;
}


/*Button*/
.portfolio-card .card-button{
    display: flex;
    align-content: center;
    justify-content: center;
}

.portfolio-card .card-button button{
    width: 6em;
    padding: 0.6rem;
    outline: none;
    border: none;
    border-radius: 0.25em;
    background: #3282B8;
    color: #cfecff;
    font-weight: bold;
    transition: 0.4s ease;
    margin: 0.25em;
}


/*Image*/
.portfolio-card .card-img {
    width: 100%;
    height: 100%;
    border-radius: 1em;
    position: absolute;
    top: 0;
    left: 0;
    background: #ee9ca7;
    background: linear-gradient(to bottom, #e7aeae, #ee9ca7);
}


/*Hover*/
.portfolio-card:hover {
    transform: translateY(-5%);
}
   
.portfolio-card:hover:before {
    opacity: 1;
}
   
.portfolio-card:hover .card-info {
    opacity: 1;
    transform: translateY(0);
}
   
.portfolio-card .card-button button:hover {
    background: #cfecff;
    color: #3282B8;
}


/*Skills*/
.skills{
    margin-top: 60px;
}

.skills h1{
    margin-bottom: 40px;
    font-size: 4.5em
}

.skills-parent {
    display: grid;
    place-items: center;
    margin: 0 100px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 1.875em;
    grid-row-gap: 1.875em;
}
    
#skills-div1 { grid-area: 1 / 1 / 2 / 2; }
#skills-div2 { grid-area: 1 / 2 / 2 / 3; }
#skills-div3 { grid-area: 1 / 3 / 2 / 4; }
#skills-div4 { grid-area: 2 / 1 / 3 / 2; }
#skills-div5 { grid-area: 2 / 2 / 3 / 3; }
#skills-div6 { grid-area: 2 / 3 / 3 / 4; }
#skills-div7 { grid-area: 3 / 1 / 4 / 2; }
#skills-div8 { grid-area: 3 / 2 / 4 / 3; }

.skills-div{
    display: grid;
    place-items: center;
    height: 11.25em;
    width: 11.25em;
    background-color: #cfecff;
    border-radius: 0.938em;
    box-shadow: 0 0.438em 1.25em rgba(0, 0, 0, 0.5);
    transition:all .4s ease;
}

.skills-div:hover{
    -webkit-transform:scale(1.15);
    -moz-transform:scale(1.15);
    -o-transform:scale(1.15);
    -webkit-transition:all .4s ease;
    -moz-transition:all .4s ease;
    -o-transition:all .4s ease;
}


/*Contact*/
.contact{
    margin-top: 3.75em;    
}

.contact h1{
    margin: 0;
    font-size: 4.5em;
}

.contact p{
    text-align: center;
    font-weight: bold;
    color:#0F4C75;
    font-size: 2em;
    margin-bottom: 2.5em;
}

/* font awesome icons */
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

/* open sans font */
@import url("//fonts.googleapis.com/css?family=Open+Sans");

#social {
  top: 50%;
  text-align: center;
  width: 100%;
}

#social a {
    width: 3.125em;
    height: 3.125em;
    line-height: 2.188em;
    text-align: center;
    display: inline-block;
    position: relative;
    border-radius: 0.313em;
    background-color: rgb(51, 51, 51);
}

#social a .fa {
    color: #FFF;
}

#social a:hover {
  -webkit-transform:scale(1.15);
  -moz-transform:scale(1.15);
  -o-transform:scale(1.15);
  transition:all .2s ease;
  -webkit-transition:all .2s ease;
  -moz-transition:all .2s ease;
  -o-transition:all .2s ease;
  z-index: 5;
}

#social a span {
  position: absolute;
  left: 50%;
  color: #FFF;
  display: none;
  border-bottom: 0.125em solid #38c;
  padding-bottom: 0.5em;
  background-color: rgb(79, 79, 79);
  top: -1.563em;
  height: 1.25em;
  line-height: 1.25em;
  border-radius: 0.313em;
  font-size: 80%;
  white-space: nowrap;
}


/*Footer*/
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1B262C;
    height: 5vh;
    margin-top: 0.625em;
}

.footer p{
    margin:auto;
    color: #cfecff;
    vertical-align: middle;
}

@media screen and (max-width: 1440px) {
    
    nav ul li a{
        font-size: 1.3em;
    }

    #avatar{
        width: 50%;
    }
    
    
    /*Botton*/
    #download_cv{
        font-size: 1.8em;
    }
    
    /*Text*/
    #description h3{
        font-size: 2.6em;
    }

    #portfolio{
        margin-top: 40px;
    }
    
    .portfolio h1{
        font-size: 3em;
        margin-bottom: 40px;
    }

    #skills{
        margin-top: 40px;
    }

    #skills h1{
        font-size: 3em;
    }

    #contact{
        margin-top: 40px;
    }

    #contact h1{
        font-size: 3em;
    }

    #contact p{
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 1024px) {
    /*Go top button*/
    .to-top{
        position: fixed;
        bottom: 0.4em;
        right: 0.4em;
        font-size: 2em;
    }

    nav{
    height: 8vh;
    }
    nav ul{
        height: 8vh;
    }
    nav ul li a{
        font-size: 1em;
    }

    #avatar{
        width: 50%;
    }
    
    /*Botton*/
    #download_cv{
        font-size: 1.3em;
    }
    
    /*Text*/
    #description h3{
        font-size: 2em;
    }

    #portfolio{
        margin-top: 40px;
    }
    
    .portfolio h1{
        font-size: 3em;
        margin-bottom: 40px;
    }

    .projects {
        display: grid;
        place-items: center;
        height: 65vh;
        margin: 0 100px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 1.875em;
        grid-row-gap: 1.875em;
    }
        
    #card-div1 { grid-area: 1 / 1 / 2 / 2; }
    #card-div2 { grid-area: 1 / 2 / 2 / 3; }
    #card-div3 { grid-area: 2 / 1 / 3 / 2; }

    /*Portfolio*/
    div.portfolio{
        height: 77vh;
        width: 100%;
        margin-top: 3.75em;
    }

    .portfolio-card {
        width: 100%;
        height: 100%;
        padding: 1.5rem;
        margin: 10px;
    }

    .skills-parent {
        display: grid;
        place-items: center;
        margin: 0 100px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0;
        grid-row-gap: 1.875em;
    }

    #contact p{
        font-size: 1.5em;
    }
}

@media screen and (max-width: 768px){

    #portfolio{
        margin-top: 30px;
        height: 100vh;
    }
    
    .portfolio h1{
        height: ;
        font-size: 2.5em;
        margin-bottom: 30px;
    }

    .projects {
        display: grid;
        place-items: center;
        height: 100%;
        margin: 0 100px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 1.875em;
        grid-row-gap: 1.875em;
    }
        
    #card-div1 { grid-area: 1 / 1 / 1 / 2; }
    #card-div2 { grid-area: 2 / 1 / 2 / 2; }
    #card-div3 { grid-area: 3 / 1 / 3 / 2; }


    .skills h1{
        margin-bottom: 30px;
        font-size: 3em;
    }
    
    .skills-parent {
        display: grid;
        place-items: center;
        margin: 0;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0;
        grid-row-gap: 1.875em;
    }
        
    #skills-div1 { grid-area: 1 / 1 / 2 / 2; }
    #skills-div2 { grid-area: 1 / 2 / 2 / 3; }
    #skills-div3 { grid-area: 2 / 1 / 3 / 2; }
    #skills-div4 { grid-area: 2 / 2 / 3 / 3; }
    #skills-div5 { grid-area: 3 / 1 / 4 / 2; }
    #skills-div6 { grid-area: 3 / 2 / 4 / 3; }
    #skills-div7 { grid-area: 4 / 1 / 5 / 2; }
    #skills-div8 { grid-area: 4 / 2 / 5 / 3; }
    
}