*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: montserrat;
}

nav{
    background: #0F4C75;
    height: 8vh;
    width: 100%;
}

label.logo{
    color: #cfecff;
    font-size: 35px;
    line-height: 80px;
    padding: 0 20px;
    font-weight: bold;
}


/*Sections*/
h1{
    text-align: center;
    margin-bottom: 30px;
    font-size: 50px;
    color:#0F4C75;
}

nav ul{
    float: right;
    margin-right: 20px
}

nav ul li{
    display: inline-block;
    line-height: 8vh;
    margin: 0 5px;
}

nav ul li a{
    color: #cfecff;
    font-size: 20px;
    font-weight: bold;
    padding: 7px 13px;
    border-radius: 15px;
    text-transform: uppercase;
}

/*Hover*/
a:hover{

    background: #cfecff;
    color: #3282B8;
    transition: .5s;
}

.btn-top{
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.btn-top a{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0F4C75;
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 50%;
    box-shadow: rgb(76, 76, 76) 0px 0px 10px 1px;
}

.btn-top a:hover{
    background: #cfecff;
    transition: all .5s ease;
}

.btn-top a:hover .rocket-svg{
    fill:#0F4C75;
}


#presentation{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

/*Image*/

.hero{
    background-image: url("coding-g2973e2192_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 92vh;
}

div.hero div.item{
    float: left;
    width: 50%;
    height: 100%;
}

#avatar{
    margin: auto auto 20px auto;
    width: 60%;
    height: auto;  
}

/*Botton*/
#download_cv{
    align-items: center;
    justify-content: center;
    width: 30%;
    margin: 0 auto auto auto;
    padding: 10px 0;
    font-size: 20px;
    background-color:#0F4C75;
    color: #cfecff;
    font-weight: bold;
    border-radius: 15px;
    border-style: none;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    transition: all .5s ease;
    padding: 15px 5px;
}


#download_cv:hover {
 letter-spacing: 3px;
 background-color: #cfecff;
 color: #3282B8;
 box-shadow: rgb(192, 229, 255) 0px 7px 29px 0px;
}


/*Text*/
#description{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}


#description h3{
    text-align: center;
    font-size: 40px;
    margin: 10px 0;
    color: #cfecff;
}



/*Portfolio*/
div.portfolio{
    height: 67vh;
    width: 100%;
    margin-top: 60px;
}

.portfolio h1{
    margin: 0;
}

.projects{
    height: auto;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 60vh;
}

.portfolio-card {
    width: 25%;
    height: 80%;
    border-radius: 1em;
    padding: 1.5rem;
    margin: 40px;
    background: #ffffff;
    position: relative;
    display: flex;
    transition: 0.4s ease-out;
    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.5);
    transition-delay: .15s;
}

.portfolio-card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
    border-radius: 1em;
    transition-delay: .15s;
   }

.portfolio-card .card-info {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    position: relative;
    width: 100%;
    z-index: 3;
    color: #f5f5f5;
    opacity: 0;
    transform: translateY(20%);
    transition: 0.5s;
    transition-delay: .15s;
}

.portfolio-card .card-info p{
    text-align: center;
   }

/*Text*/
.portfolio-card .text-title {
    font-size: 2rem;
    font-weight: 500;
}
       
.portfolio-card .text-body {
    letter-spacing: 1px;
    font-size: 1.2rem;
    margin: 5px 0 15px 0;
}

/*Button*/
.portfolio-card .card-button{
    display: flex;
    align-content: center;
    justify-content: center;
}
.portfolio-card .card-button button{
    width: 6em;
    padding: 0.6rem;
    outline: none;
    border: none;
    border-radius: 4px;
    background: #3282B8;
    color: #cfecff;
    font-weight: bold;
    transition: 0.4s ease;
    margin: 4px;
}

/*Image*/
.portfolio-card .card-img {
    width: 100%;
    height: 100%;
    border-radius: 1em;
    position: absolute;
    top: 0;
    left: 0;
    background: #ee9ca7;
    background: linear-gradient(to bottom, #e7aeae, #ee9ca7);
}

/*Hover*/
.portfolio-card:hover {
    transform: translateY(-5%);
}
   
.portfolio-card:hover:before {
    opacity: 1;
}
   
.portfolio-card:hover .card-info {
    opacity: 1;
    transform: translateY(0);
}
   
.portfolio-card .card-button button:hover {
    background: #cfecff;
    color: #3282B8;
}



/*Skills*/

/* From uiverse.io by @Tiagoadag */

/*
.skill_card {
    width: 10em;
    height: 10em;
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    border-radius: 20px;
    transition: all .3s;
}
   
.img_card {
    width: 10em;
    height: 10em;
    background-color: #ffffff;
    border-radius: 19px;
    transition: all .2s;
}
   
.img_card:hover {
    transform: scale(0.98);
    border-radius: 20px;
    background-color: #eeeeee;
}
*/
.skills h1{
    margin: 0 0 30px 0;
}
.skills-parent {
    display: grid;
    place-items: center;
    margin: 0 25px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 25px;

}
    
#skills-div1 { grid-area: 1 / 1 / 2 / 2; }
#skills-div2 { grid-area: 1 / 2 / 2 / 3; }
#skills-div3 { grid-area: 1 / 3 / 2 / 4; }
#skills-div4 { grid-area: 1 / 4 / 2 / 5; }
#skills-div5 { grid-area: 2 / 1 / 3 / 2; }
#skills-div6 { grid-area: 2 / 2 / 3 / 3; }
#skills-div7 { grid-area: 2 / 3 / 3 / 4; }
#skills-div8 { grid-area: 2 / 4 / 3 / 5; }

.skills-div{
    display: grid;
    place-items: center;
    height: 180px;
    width: 180px;
    background-color: #cfecff;
    border-radius: 15px;
    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.5);
}

.skills-div:hover{
    -webkit-transform:scale(1.15);
    -moz-transform:scale(1.15);
    -o-transform:scale(1.15);
    transition:all .2s ease;
    -webkit-transition:all .2s ease;
    -moz-transition:all .2s ease;
    -o-transition:all .2s ease;
}

/*Contact*/
.contact{
    margin-top: 60px;    
}

.contact h1{
    margin: 0;
}

.contact p{
    text-align: center;
    font-weight: bold;
    color:#0F4C75;
    font-size: 20px;
    margin-bottom: 30px;
}

/* font awesome icons */
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

/* open sans font */
@import url("//fonts.googleapis.com/css?family=Open+Sans");

#social {
  top: 50%;
  text-align: center;
  width: 100%;
}
#social a {
    width: 50px;
    height: 50px;
    line-height: 35px;
    text-align: center;
    display: inline-block;
    position: relative;
    border-radius: 5px;
    background-color: rgb(51, 51, 51);
}
#social a .fa {
    color: #FFF;
}
#social a:hover {
  -webkit-transform:scale(1.15);
  -moz-transform:scale(1.15);
  -o-transform:scale(1.15);
  transition:all .2s ease;
  -webkit-transition:all .2s ease;
  -moz-transition:all .2s ease;
  -o-transition:all .2s ease;
  z-index: 5;
}
#social a span {
  position: absolute;
  left: 50%;
  color: #FFF;
  display: none;
  border-bottom: 2px solid #38c;
  padding-bottom: 8px;
  background-color: rgb(79, 79, 79);
  top: -30px;
  height: 20px;
  line-height: 20px;
  border-radius: 5px;
  font-size: 80%;
  white-space: nowrap;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1B262C;
    height: 5vh;
    margin-top: 10px;
}

.footer p{
    margin:auto;
    color: #cfecff;
    vertical-align: middle;
}
